<nav class="fixed top-0 left-0 w-full bg-white shadow z-50">
  <div class="max-w-7xl mx-auto flex justify-between items-center px-6 py-3">
      <ul class="flex space-x-6 font-medium text-gray-700">
      <li><a href="#inicio" class="hover:text-blue-600">Inicio</a></li>
      <li><a href="#Evaluación inicial" class="hover:text-blue-600">Evaluación inicial</a></li>
      <li><a href="#Diagnóstico diferencial" class="hover:text-blue-600">Diagnóstico diferencial</a></li>
      <li><a href="#Manifestaciones cutáneas" class="hover:text-blue-600">Manifestaciones cutáneas</a></li>
      <li><a href="#Protocolo de manejo local" class="hover:text-blue-600">Protocolo de manejo local</a></li>
      <li><a href="#Manejo sistémico" class="hover:text-blue-600">Manejo sistémico</a></li>
      <li><a href="#Educación y seguimiento" class="hover:text-blue-600">Educación y seguimiento</a></li>
    </ul>
  </div>
</nav>